*{
    margin: 0;
}

/*---------------------------------header---------------------------------*/
header{
   background-color: yellowgreen;
   min-height: 350px;

   clip-path: 
   polygon(
       0% 0%,
       100% 0%,
       100% calc(100% - 20%),
       0% 100%
   );
}

header h1{
    margin-top: 7%;
    padding-left: 13%;
    font-size: 2.8em;
}

/*---------------------------------footer---------------------------------*/
footer{
    background-color: black;
    min-height: 200px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    
}

.contact ul, .about ul{
    list-style-type: none;
}

.contact{
    grid-area: 2/2/3/3;
}

.about{
    grid-area: 2/3/3/4;
}

/*---------------------------------menu---------------------------------*/
nav{
    display: flex;
    background-color: orange;
    font-size: 1.2em;
    justify-content: space-between;
    padding: 1%;
    padding-right: 7%;
}

.connection a, .menu a{
    text-decoration: none;
    color: black;
}

.menu{
    
}

.menu ul{
    list-style-type: none;
    display: flex;
    gap: 10%;
}


/*---------------------------------connexion---------------------------------*/
.connect{
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25%;
    
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 35%;
    margin-right: 35%;

    padding-top: 6%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;

    border: 1px solid black;
    border-radius: 1.3em;
}

.login , .mdp{
    display: grid;
}

.login input, .mdp input{
    height: 2em;
    border-radius: 0.5em;
}

.button{
    height: 2.7em;
    border-radius: 0.5em;
}

/*---------------------------------achat---------------------------------*/
.achat{
    display: grid;
    gap: 15%;

    margin-top: 2%;
    margin-bottom: 17%;
    margin-left: 15%;
    margin-right: 25%;

    padding-top: 6%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;

    font-size: 1.2em;
}

fieldset{
    display: grid;
    flex-direction: column;
    gap: 6%;
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 15%;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

.achat div:not(.button){
    display: flex;
    flex-direction: column;
}

.achat input, .achat select{
    font-size: 1.2em;
}

#choixdate{
    height: 1.7em;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 18%;
   
}

button{
    height: 2em;
    margin-left: 5%;
    width: 10em;
    border-radius: 0.5em;
    border-width: 0px;
    font-size: 1em;
}

#annuler{
    background-color: lightgray;
}

#ok{
    background-color: orange;
}





/*---------------------------------generation-----------------------------------*/

.generation-containers {
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}

#generation-container-button {
    margin-right: 15vw;
}

#generation-container-button {

}

#button-generate {
    width: 180px;
    height: 55px;
    background-color: orangered;
    color: whitesmoke;
    font-size: x-large;
}


.table {
    width: auto;
    margin: 3vw;
    margin-bottom: 13vh;
}

.table-header {
    display:flex;
    width:100%;
    background: #0A100D;
    padding:10px;
}

.header__item {
    color: whitesmoke;
}

.table-row {
    display:flex;
    width:100%;
    padding:10px;
    border: 1px solid #AAAAAA;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

.header__item {
    text-transform:uppercase;
}

